/**
 * This file will be overwritten when the Bootstrap Framework source files
 * are compiled using the Less CSS pre-processor.
 */
@font-face {
    font-family: 'CenturyGothicRegular';
    src : url('../fonts/CenturyGothicRegular.eot'),
         url('../fonts/CenturyGothicRegular?#iefix') format('embedded-opentype'),
      url('../fonts/CenturyGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
src : url('../fonts/CenturyGothic-Bold.eot'),
         url('../fonts/CenturyGothic-Bold?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmpleSoft';
    src : url('../fonts/AmpleSoft/AmpleSoft.eot'),
         url('../fonts/AmpleSoft/AmpleSoft?#iefix') format('embedded-opentype'),
        url('../fonts/AmpleSoft/AmpleSoft.otf') format('opentype'),
         url('../fonts/AmpleSoft/AmpleSoft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 



@font-face {
    font-family: 'AmpleSoft Light';
    src : url('../fonts/AmpleSoft/AmpleSoftLight.eot'),
         url('../fonts/AmpleSoft/AmpleSoftLight?#iefix') format('embedded-opentype'),
     url('../fonts/AmpleSoft/AmpleSoftLight.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lachata';
src : url('../fonts/lachata/La-chata-normal.eot'),
         url('../fonts/lachata/La-chata-normal?#iefix') format('embedded-opentype'),
    url('../fonts/lachata/La-chata-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/************Déclinaison du bouton ‘Commander en ligne’ sur la page Menu*********************/

.views-field.views-field-field-commander-en-ligne a.asec {
    color: #fff;
    background-color: #37655e !important;
    border-radius: 10px;
    font-size: 17.5px;
    font-family: 'AmpleSoft';
    margin-left: 115px;
    padding-left: 32px;
    padding-bottom: 0px;
    padding-right: 15px;
    background: url(../images/shooping.png) no-repeat left;
    background-position: 12px;
    position: absolute;
    margin-top: 8px;
}




/****************************************************************************************************/

h2.block-title {
    font-family: 'AmpleSoft';
    font-size: 29.77px;
    text-transform: uppercase;
}

article#node-41 div p span {
    font-family: 'CenturyGothicRegular';
    font-size: 29.77px;
    line-height: 5.6px;
    text-transform: uppercase;
}


.site-map-message p {
    font-size: 29.77px;
    text-transform: uppercase;
    font-family: 'AmpleSoft';
}



.site-map-menus {
    font-size: 11.23pt;
    text-transform: uppercase;
}

.field.field-name-field-txt1.field-type-text-long div p {
    font-family: 'CenturyGothicRegular';
    font-size: 12.67px;
    line-height: 16.6px;
}



.entity.entity-bean.bean-a-propos div p span {
    font-family: 'CenturyGothicRegular';
    font-size: 12.67px;
    line-height: 5.6px !important;
    /* text-transform: uppercase; */
}


.views-field.views-field-body div p{
    font-size: 13px;
    font-family: 'CenturyGothicRegular';
    line-height: 16.6px;
    color: #325f5c;
}

b, strong {
    font-weight: normal;
}

strong {
    font-family: 'CenturyGothicBold';
}


b, strong {
    font-family: 'CenturyGothicbold';
    font-size: 13px !important;
    /* text-transform: uppercase; */
}

strong u span {
    font-family: 'CenturyGothicBold';
}

.field.field-name-body div p strong u span {
    color: #325F5C;
    font-family: 'CenturyGothicBold';
    text-transform: uppercase;
}

.field.field-name-body div h2 {
    font-family: 'Amplesoft';
    color: #325f5c;
}


.field.field-name-body.field-type-text-with-summary div h2 span {
    font-size: 30px !important;
}
/*******************Block RS - Geolocalisation **************************/


.field.field-name-field-geolocalisation- a {
    display: inline-block;
    padding-bottom: 1px;
    width: 36px;
    background: url(../images/geolocalisation.png) no-repeat bottom;
    height: 24px;
    color: transparent;
    text-indent: -50000px;
}



a.carousel-prev, a.carousel-next {
    display: inline-block;
    height: 17px;
    width: 17px;
    /*float: left;*/
    position: relative;
    left: -60px;
    text-indent: -9000px;
}

a.carousel-prev{
    background: url(../images/left-mini.png);
    left: -23px;
    top: 55px;
}


a.carousel-next {
    background: url(../images/right-mini.png);
    left: 554px;
    bottom: 57px;
}


.field-slideshow-slide img {
    max-width: 100%;
    height: auto !important;
    width: auto !important;
    border: 11px solid #f1f2ee;
    margin-bottom: 11px;
}

img.field-slideshow-thumbnail {
    border: 1px solid #36655d;
    margin-right: 8px;
}

.field.field-name-field-picturegallerie {
    width: 544px;
    margin: 0 auto;
}

.field-slideshow.field-slideshow-processed {
    margin-top: 92px;
    margin-bottom: 0px;
}


.site-map-message {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    color: #325f5c;
    font-family: 'CenturyGothicRegular';
    font-size: 26px;
    width: 50%;
    margin: 0 auto;
    padding-left: 37px;
}

.region-content ul.field-slideshow-pager {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 14px;
}

ul#field-slideshow {
    left: -134px;
}

/*
.field-slideshow-pager li{
margin-right: 6px;
}
*/

.field.field-name-field-coordonnees {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 5.6px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
}



div#site-map {
    /*padding-top: 185px;*/
    font-size: 17px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
}

#admin-menu, #admin-menu .dropdown {
    z-index: 10000;
}

#site-map .site-map-box ul {
    padding-left: 1.5em;
    list-style-type: none;
    text-align: center;
}

#site-map .site-map-box ul a{
    color: #325f5c;
}


.field.field-name-body.field-type-text-with-summary {
    font-size: 13px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
}

section#block-system-main {
    font-size: 13px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
    text-decoration: none;
}

h2.block-title {
    padding-top: 51px;
    padding-bottom: 0px;
    text-align: center;
    color: #3d6d67;
    font-family: 'AmpleSoft';
}




.wrapper-header{
    background: url("../images/header.jpg") no-repeat bottom;
    /* padding-bottom: 50px; */
}

footer.footer.container{
    background: url("../images/font-footer.jpg") no-repeat center top;
    padding-top: 23px;
    text-align: center;
}

}




.bean-block-reseaux-sociaux .content {
    display: block;
    float: right;
    margin-top: 72px;
}


h2.block-title {
    padding-top: 51px;
    padding-bottom: 13px;
    text-align: center;
    color: #3d6d67;
    font-family: 'AmpleSoft';
    font-size: 29.77px;
    text-transform: uppercase;
    margin-bottom: 0px;
}


.Slogan {
    margin-bottom: 26px;
    margin-top: 100px;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    padding-left: 10px;
}

.container-logo{
    margin-top: 48px;
    margin-left: 48px;
    display: inline-block;
}

.text1{
    color: #eceee8;
    font-family: 'AmpleSoft';
    font-size: 24.94px;
}

.text2{
    color: #eceee8;
    font-family: 'AmpleSoft Light';
    font-size: 18.32px;
}



.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
}


.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    color: #507c47;
    font-family: 'lachata';
    font-size: 13.47px;
    font-weight: bold;
}

.form-control .form-text{

    display: inline-block;
    vertical-align: top;
    float: right;
    width: 80%;
}



.field-name-field-facebook a {
    display: inline-block;
    padding-bottom: 1px;
    width: 11px;
    background: url(../images/facebook.png) no-repeat bottom;
    height: 24px;
    color: transparent;
    text-indent: -50000px;
}

.bean-block-reseaux-sociaux .content .field {
    display: inline-block;
}

.field-name-field-facebook a:hover {
    color: transparent;
}

#block-search-form .form-text {
    width: 85%;
}
#block-search-form .form-text:focus{
    width: 86%;
    box-shadow: none;
    border: none;
}



.field-name-field-blog a {
    display: inline-block;
    width: 28px;
    background: url(../images/twitter.png) no-repeat bottom;
    height: 24px;
    color: transparent;
    text-indent: -50000px;
}

.bean-block-reseaux-sociaux .content .field {
    display: inline-block;
}

.field-name-field-blog a:hover {
    color: transparent;
}


.field-name-field-youtube a {
    display: inline-block;
    padding-bottom: 1px;
    width: 21px;
    background-image: url(../images/youtube.png);
    height: 25px;
    margin-right: 20px;
    color: transparent;
    text-indent: -5000px;
}

.field-name-field-commander-en-ligne a {
    display: inline-block;
    padding-bottom: 1px;
    width: 20px;
    background: url(../images/geoloc.png) no-repeat;
    height: 25px;
    margin-left: 8px;
    color: transparent;
    text-indent: -5000px;
}

.bean-block-reseaux-sociaux .content .field {
    display: inline-block;
}

.field-name-field-youtube a:hover {
    color: transparent;
}



.field-name-field-instagram a {
    display: inline-block;
    width: 23px;
    background-image: url(../images/instagram.png);
    height: 24px;
    margin: 0;
    text-indent: -5000px;
    margin-left: 5px;
}

.bean-block-reseaux-sociaux .content .field {
    display: inline-block;
    width: 40px;
    /* text-align: center; */
}

.bean-block-reseaux-sociaux .field.field-name-field-facebook{
    width: 24px;
}

.field-name-field-instagram a:hover {
    color: transparent;
}


.input-group-btn:last-child > .btn span {
    background: url(../images/icon-search.png) no-repeat top left #cdd5c9 ;
    width: 30px;
    height: 30px;
    top: 0px;
    padding:0px;
}

.input-group-btn:last-child > .btn span:before {
    content:'';
}


.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    color: #507c47;
    border-radius: 0;
}




@media only screen and (max-width : 960px) {
    section#block-views-menupageview-block {
        width: 375px;
        margin: 0 auto;
    }





    div#site-map {
        padding-top: 25px;
    }

}


@media only screen and (max-width : 768px) {
    section#block-views-menupageview-block {
        width: 325px;

    }
    div#site-map {
        padding-top: 25px;
    }

section#block-views-videotheque-block {
    margin-left: 11px;
}
}

@media only screen and (max-width : 400px) {
   
section.col-sm-12 {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

body {
    padding-left: 0px !important;

}

    section#block-views-menupageview-block {
        width: 225px;
    }
    div#site-map {
        padding-top: 25px;
    }
}

#block-search-form .form-text {
    display: inline-block;
    width: 86%;
    float: right;
    margin-right: 0px;
    background-color: #eceee8;
    color: #617e5a;
    border-radius: 0;
    height: 30px;
    font-weight: normal;
}

#block-bean-dcouvrez-nos-menus .content {
    text-align: center;
    font-size: 13px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
}

.views-field.views-field-body {
    font-size: 13px;
    font-family: 'CenturyGothicRegular';
    color: #325f5c;
}

#block-search-form .form-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #617e5a;
}
#block-search-form .form-text::-moz-placeholder { /* Firefox 19+ */
    color: #617e5a;
}
#block-search-form .form-text:-ms-input-placeholder { /* IE 10+ */
    color: #617e5a;
}
#block-search-form .form-text:-moz-placeholder { /* Firefox 18- */
    color: #617e5a;
}


#block-search-form .input-group {
    width: 192px;
    float: right;
}

#block-search-form .input-group-btn {
    float: left;
}

.content .field .field-label {
    color: transparent;
}

#block-bean-social-links, #block-search-form {
    padding-right: 33px;
}

#block-search-form {
    padding-bottom: 25px;
    padding-top: 2px;
}

.views_slideshow_cycle_teaser_section {
    width: 100% !important;
}

.views_slideshow_cycle_slide {
    width: 100% !important;
    height: auto !important;
}

.views-field-field-photos {
img {
    width: 100% !important;
}
}

.wrapper-slider {
    max-width: 960px;
    margin: auto;
    border-bottom: 2px solid #3f6d68;
    position: relative;
}


.bean-block-reseaux-sociaux .content {
    display: block;
    float: right;
    margin-top: 72px;
}

.footer ul.menu.nav li {
    float: left;
}



.footer ul.menu.nav li a {
    color: #35552b;
    font-family: 'AmpleSoft';
    font-size: 23px;
    padding: 0px 0px;
    margin: 8px 21px;
}


.footer ul.menu.nav {
    margin-left: 121px;
}

.logo-footer {
    padding-bottom: 10px;
}

.footer ul.menu.nav li a:hover{
    color: #2b4423;
    background: none;
}

.footer .copy-right {
    width: 290px;
    margin: 0 auto;
    margin-top: 9px;
    border-top: 1px solid #94c188;
    padding-top: 3px;
    padding-bottom: 12px;
    color: #daebd6;
    font-family: 'Amplesoft';
    text-transform: uppercase;
    font-size: 13px;
}


.views_slideshow_pager_field_item {
    background-color: #fff;
    border-radius: 100%;
    display: inline-block !important;
    height: 14px;
    width: 14px;
    padding: 0px !important;
    cursor: pointer;
    margin: 0 3px;
}

.views-slideshow-controls-bottom.clearfix {
    position: absolute;
    bottom: 16px;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.views-slideshow-pager-fields .active{
    background-color: #37655e;
}


#block-menu-block-1 li {
    float: left;
    height:90px;
}

#block-menu-block-1 li a {
    width:100%;
    text-indent:-5555px;
    height:100%;
    padding: 0px  0px;
}

#block-menu-block-1 li a:hover ,
#block-menu-block-1 li a:focus  {
    background:none;
}

#block-menu-block-1 li.menu_apropos {
    background:url(../images/bkg_apropos.png) no-repeat top center;
    width:138px;
    margin-left: 38px;
    margin-right: 27px;
    z-index: 7;
}

#block-menu-block-1 li.menu_menu {
    background:url(../images/bkg_menu.png) no-repeat top center;
    width:138px;
    margin-right: 11px;
    z-index: 1;
}

#block-menu-block-1 li.menu_galerie {
    background:url(../images/bkg_galerie.png) no-repeat top center;
    width:188px;
    margin-right: 23px;
}

#block-menu-block-1 li.menu_vediotheque {
    background:url(../images/bkg_videotheque.png) no-repeat top center;
    width:193px;
    margin-right: 28px;
    z-index: 9;
}


#block-menu-block-1 li.menu_contact {
    background:url(../images/bkg_contact.png) no-repeat top center;
    width:136px;
    margin-left: 4px;
    z-index: 5;
}

#block-menu-block-1{
    padding-top: 54px;
    border-bottom: 2px solid #d7d4d1;
    padding-bottom: 60px;
    background: url(../images/bkg_main_menu_2.png) repeat-y top center;
    background-size: 100%;
}

section#block-entityform-block-contact {
    /*min-height: 734px;*/
    background: url(../images/bg.jpg);
}

section#block-bean-dcouvrez-nos-menus {
    /*min-height:1376px;*/
    background: url(../images/bg.jpg);
}



/* IE 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .footer ul.menu.nav li a {
        margin: 11px 16px ;
    }


}


form#contact-entityform-edit-form button{ color: #fff;
    background-color: #3d6d67;
    border-color: #122b40;}

button.btn.btn-primary {
    border: none;
    padding: 0px;
    height: 29px;
}


.form-control {
    border-radius: 4px;}


.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 492px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 11px;}

input#edit-field-objet-und-0-value {
    width: 294px;
    border: 1px solid #3d6d67;
}


input#edit-field-email-und-0-value {
    width: 164px;
    float:left;
    margin-right: 33px;
    border: 1px solid #3d6d67;
}

input#edit-field-nom-und-0-value {
    width: 293px;
    margin-right: 58px;
    border: 1px solid #3d6d67;
}

input#edit-field-prenom-und-0-value {
    width: 166px;
    float: left;
    margin-right: 32px;
    border: 1px solid #3d6d67;
}

textarea#edit-field-message-und-0-value {
    border: 1px solid #3d6d67;
}

form#contact-entityform-edit-form {
    width: 493px;
    margin: auto;

}

#block-bean-dcouvrez-nos-menus .field {
    display: inline-block;
    width: 380px;
    font-size: smaller;
    text-align: justify;
    margin: 0 10px;
    padding-bottom: 15px;
    vertical-align: top;
}

@media only screen and (max-width : 990px) {

    .wrapper-slider {
        max-width: 750px;
        margin: auto;
        height: 291px;
    }

    .footer ul.menu.nav {
        margin-left: 30px;
    }


    .footer ul.menu.nav li a {
        font-size: 21px;
        margin: 5px 19px;
    }

    #block-menu-block-1 li {
        float: none;
        height: 90px;
        width: 100% !important;
        margin-bottom: 10px;
        margin: 5px 0px !important;

    }

    #block-menu-block-1 {
        padding-top: 25px;
    }
    #block-bean-dcouvrez-nos-menus .field {
        display: inline-block;
        width: 310px;
    }

}

@media only screen and (max-width : 960px) {

    .container-logo {
        margin-top: 63px;
        margin-left: 0px;
        width: 130px;
    }

    #block-bean-social-links, #block-search-form {
        padding-right: 16px;
        padding-left: 30px;
    }


    #block-menu-block-1 li {
        float: none;
        height: 90px;
        width: 100% !important;
        margin-bottom: 10px;
        margin: 5px 0px !important;
    }

    #block-menu-block-1 {
        padding-bottom: 20px;
        background: #f7f4e4;
    }
    .field.field-name-field-picturegallerie {
        margin: 0 auto;
    }

}

@media only screen and (max-width : 768px) {


    .text1 {
        font-size: 18.94px;
    }

    .text2 {
        font-size: 14.32px;
    }

    #block-blockify-blockify-logo {
        text-align:center;
    }

    .container-logo {
        margin-top: 10px;
        width: 130px;
    }

    .Slogan {
        display: inline-block;
        margin-top: 57px;
        text-align: left;
        line-height: 18px;
        margin-bottom: 0px;
    }

    .region.region-header {
        text-align: center;
    }

    section#block-bean-social-links, #block-search-form {
        display: inline-block;
        margin-left: 5px;
        margin-right: 7px;
        vertical-align: top;
    }

    .bean-block-reseaux-sociaux .content .field {
        display: inline-block;
        width: 40px;
        line-height: 20px;
    }

    .wrapper-header {
        background: url(../images/header.jpg) no-repeat;
        padding-bottom: 0px;
    }

    .field-name-field-youtube a {
        margin-right: 0px;
    }
    #block-bean-social-links, #block-search-form {
        padding-right: 0px;
        padding-left: 0px;
    }

    .bean-block-reseaux-sociaux .content {
        float: left;
        margin-left: 0px;
        margin-top: 19px;
    }


    .footer ul.menu.nav li {
        float: none;
    }

    .footer ul.menu.nav {
        margin-left: 0px;
    }

    .footer .copy-right {
        width: 100%;
        padding-bottom: 16px;
    }

    footer.footer.container {
        padding-top: 20px;
        background-size: 400%;
    }


    .wrapper-slider {
        height: initial;
    }

}


@media only screen and (max-width : 480px) {

    .views-field.views-field-body{
        font-size: 10px;
    }
    .site-map-message{
        font-size: 20px;
    }
    .field.field-name-field-coordonnees {
        font-size: 12px;

    }


    section#block-bean-dcouvrez-nos-menus {
        width: inherit;
        margin-left: 5px;
        margin-right: 5px;
    }


    section#block-bean-dcouvrez-nos-menus h2 {
        font-size: 25px;
    }

    form#contact-entityform-edit-form {
        width: inherit;
        margin-left: 20px;
        margin-right: 20px;
        /*width: 350px;
        margin-left: 45px;*/

    }


    .views-field.views-field-field-commander-en-ligne a.asec {
    font-size: 8.5px !important;
    margin-left: 21px;
    }


    .views-field.views-field-field-commander-en-ligne{
        margin-top: 0px !important;
    }


    .region.region-content {
        min-height: 1480px !important;}


    section#block-entityform-block-contact {
        /*padding-left: 50px;*/
    }

    .wrapper-header {
        background: url(../images/header.jpg) no-repeat center;
        background-size: 452%;
        padding-bottom:0px;
    }

    input#edit-field-prenom-und-0-value {
        width: 100%;
        margin-bottom: 4%;
    }

    input#edit-field-nom-und-0-value {
        width: 100%;
        margin-bottom: 4%;}

    input#edit-field-email-und-0-value {
        width: 100%;
        margin-bottom: 4%;}

    input#edit-field-objet-und-0-value {
        width: 100%;
        margin-bottom: 4%;
    }
    #block-bean-dcouvrez-nos-menus .field {
        width: 91%;
        padding: 0 10px;
    }

    textarea#edit-field-message-und-0-value{
        width: 100%;

    }

    .views-field.views-field-field-commander-en-ligne a {
        font-size: 18.77px;}
    div#site-map {
        padding-top: 25px;
    }
}


@media only screen and (max-width : 400px) {

    .region.region-content {
        min-height: 1123px;
    }

    .Slogan {
        display: inline-block;
        margin-top: 5px;
        text-align: left;
        line-height: 18px;
        padding-left: 0px;
    }

    .views-field.views-field-field-commander-en-ligne a {
     font-size: 11px !important;}

}



.views-field.views-field-field-commander-en-ligne {
    font-family: 'AmpleSoft';
    font-size: 29.77px;
    margin-top: 16px;
    margin-bottom: 3px;
}

.views-field.views-field-field-commander-en-ligne a {
    color: #3d6d67;
    text-transform: uppercase;
    text-decoration: none;
}

body{

    font-family:"CenturyGothicRegular" , "AmpleSoft" !important;
    color: #325f5c;;
    font-size: 13px;
    color: #333;
    background: transparent url(../images/bg-img.jpg) no-repeat scroll center top;
    padding-top: 153px;
    padding-bottom: 170px;
    padding-left: 7px;
    line-height: 5.6px;
}

/*
section#block-views-menupageview-block {
    background: url(../images/bg-propos.jpg);
}
*/

.region.region-content {
    background: url(../images/bg.jpg) no-repeat #fffbf6 bottom;
    min-height: 978px;
    /* min-height: 1123px;*/
}

.views-field.views-field-field-image-menu img {
    border: solid 2px;
    color: #3d6d67;
    border-radius: 20px;
}

.view.view-menupageview.view-id-menupageview.view-display-id-block {
}



span#views_slideshow_controls_text_next_menupageview-block {
    /* margin-left: 551px; */
    /* display: inline-block; */
    /* padding-top: 49px; */
}

span#views_slideshow_controls_text_pause_menupageview-block {
    display: inline-block;
    text-indent: -9000px;
}


span#views_slideshow_controls_text_next_menupageview-block a{
    font-family: "Glyphicons Halflings";
    color:#FFF;
    /*++++++margin-right: 471px;++++*/
}


span#views_slideshow_controls_text_pause_menupageview-block a{
    font-family: "Glyphicons Halflings";
    color:#FFF;
}


.controls-style .views_slideshow_controls_text {
    position: absolute;
    z-index: 1000;
    width: 524px;
    width:100%;
    max-width:524px;
    margin-top: 158px;
}


#views_slideshow_controls_text_guallerieview-block{
    margin-top: 150px;
}


.controls-style  .views_slideshow_controls_text  span {
    text-indent: -9000px;
    position: relative;
}
.controls-style  .views_slideshow_controls_text  span  a {
    display: inline-block;
    height: 40px;
    width: 40px;

}



.controls-style .views-slideshow-controls-text-next a {
    float: right;
    top: -7px;
    position: relative;
    right: -49px;
    background: url(../images/right.png);
}



.controls-style .views-slideshow-controls-text-previous a {
    float: left;
    position: relative;
    left: -51px;
    top: -9px;
    background: url(../images/left.png);
}
/*********
.controls-style  .views-slideshow-controls-text-previous  a {
    float:left;
    position: relative;
    left: -60px;
    background: url("../images/left.png");
}

.controls-style  .views-slideshow-controls-text-next  a {
    float:right;
    position: relative;
    right: -60px;
    background: url("../images/right.png");
}



*******/
section#block-views-menupageview-block {
    max-width: 524px;
    margin: 0 auto;
    margin-top: 72px;
    /*margin-right: 210px;
    padding-bottom: 120px;*/
}

div#views_slideshow_cycle_main_menupageview-block{
    height: 424px;
    position: relative;
    z-index: 2000;
}

section#block-views-videotheque-block{
    /*++++++++++  min-height: 734px; ++++++++++++++
      background: url(../images/bg.jpg);*/
}

.view.view-videotheque.view-id-videotheque ul li {
    display: inline-block !important;
    text-align: center;
    margin-top: 11px;
    margin-right: 13px;
    margin-bottom: 11px;}

.view.view-videotheque.view-id-videotheque {
    display: inline-block;
    text-align: center;
    width: 70%;
    margin-top: 91px;
    margin-left: 131.5px;
}

/*.embedded-video*/
.view.view-videotheque.view-id-videotheque iframe {
    border-radius: 15px;
    border: 4px solid;
    border-color: #446e68;
}

/*section#block-views-menupageview-block{

    min-height: 734px;
    background: url(../images/bg-gallerie.jpg);
}*/

div#views_slideshow_cycle_main_guallerieview-block{
    height: 424px;
    position: relative;
    z-index: 2000;
    white-space: nowrap;
}

.views-field.views-field-title a{
    font-family: 'AmpleSoft';
    text-transform: uppercase;
    font-size: 29.77px;
    color: #3d6d67;
    margin-top: 88px;
    text-decoration:none;

}


section#block-views-guallerieview-block {
    margin: auto;
    max-width: 524px;
    padding-top: 70px;
    padding-bottom: 46px;
}


div#views_slideshow_controls_text_guallerieview-block {
    /* top: 150px; */
    /*   ++++++ top:334px;++++*/
}

.views-field.views-field-title {
    padding-bottom: 8px;
    text-align: center;
}

ul.tabs--primary.nav.nav-tabs {
    background-color: white;
}

@media only screen and (max-width : 400px) {

    #block-menu-block-1 li.menu_apropos.active{

    }

    .view.view-videotheque.view-id-videotheque{margin-top: 0px;
        margin-left: 35px !important;}


}


@media only screen and (max-width: 324px){
.controls-style .views-slideshow-controls-text-next a {
    top: -23px !important;
    left: -33px;
}
}

@media only screen and (max-width : 990px) {

    #block-menu-block-1 li.menu_contact.active:before{
        left:0px;
    }
    #block-menu-block-1 li.menu_vediotheque.active:before{
        left:0px;
    }
    #block-menu-block-1 li.menu_galerie.active:before {
        left:0px;
    }
    #block-menu-block-1 li.menu_menu.active:before {
        left:0px;
    }
    #block-menu-block-1 li.menu_apropos.active:before{
        left:0px;
    }


    #block-menu-block-1 li.menu_contact.active {
        padding-bottom: 100px;
        top: 5px;
        display: block;
    }


    #block-menu-block-1 li.menu_vediotheque.active {
        padding-bottom: 132px;
        top: 29px;
        display: block;
    }

    #block-menu-block-1 li.menu_menu.active {
        padding-bottom: 107px;
        top: 9px;
        display: block;
        /*    left: 12px;*/

    }


    #block-menu-block-1 li.menu_apropos.active {
        padding-bottom: 133px;
        top: 17px;
        /*left: 30px;*/
        display: block;
    }


    #block-menu-block-1 li.menu_galerie.active{
        padding-bottom: 111px;
        top: 14px;
        display: block;
        /* left: -16px;*/
    }

    section#block-views-guallerieview-block {
        margin: auto;
    }

    div#views_slideshow_controls_text_guallerieview-block {
        margin-top: 150px;
        max-width: 525px;
    }

    div#site-map {
        padding-top: 54px;
    }
}

@media only screen and (max-width : 768px) {

    section#block-views-guallerieview-block {
        margin: auto;
        max-width: 307px;
    }

    div#views_slideshow_controls_text_guallerieview-block{
        margin-top: 117px;
        max-width: 304px;
    }


    /*section#block-views-videotheque-block{ margin-right: 107px;}*/

}

@media only screen and (max-width : 480px) {


    body.page-node-3 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        background-color: #efeccb;

    }

    body.page-node-15{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    body.page-node-23 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        background-color: #efeccb;
    }


    .views-field.views-field-title a{
        font-size: 17px;

    }

    section#block-views-menupageview-block{

    }

    section#block-views-guallerieview-block {
        margin: auto;
    }

    div#views_slideshow_controls_text_guallerieview-block{
        margin-top: 106px;
        max-width: 283px;
    }

    .controls-style .views_slideshow_controls_text span a {
        margin-left: 19px;

    }


}

@media only screen and (max-width : 960px) {

.views-field.views-field-field-commander-en-ligne a.asec {
    font-size: 10.5px;
    margin-left: 97px;
    padding-right: 10px;
    margin-top: 17px;
}




    .controls-style .views-slideshow-controls-text-next a {
    top: 0px;
    right: -49px;
}


.controls-style .views-slideshow-controls-text-previous a {
    left: -51px;
    top: -2px;
}

.views-field.views-field-field-commander-en-ligne a {
    font-size: 20px;
}

    div#views_slideshow_controls_text_menupageview-block {

        margin-top: 116px;
        max-width: 376px;
    }

    #block-menu-block-1 li.menu_apropos{
        z-index: 0;
    }

    #block-menu-block-1 li.menu_menu{
        z-index: 0;
    }

    #block-menu-block-1 li.menu_apropos{
        z-index: 0;
    }

    #block-menu-block-1 li.menu_galerie{
        z-index: 0;
    }
    #block-menu-block-1 li.menu_vediotheque{
        z-index: 0;
    }
}
#block-menu-block-1 li.menu_contact{
    z-index: 0;
}
@media only screen and (max-width : 768px) {

.views-field.views-field-field-commander-en-ligne a.asec {
    font-size: 9.5px;
    margin-left: 67px;
    padding-right: 10px;
    margin-top: 19px;
}



    div#views_slideshow_controls_text_menupageview-block {
        margin-top: 103px;
        max-width: 331px;
    }

    .controls-style .views-slideshow-controls-text-next a {
    top: 3px;
    right: -40px;
}


.controls-style .views-slideshow-controls-text-previous a {
    left: -46px;
    top: 3px;
}

.views-field.views-field-field-commander-en-ligne a {
    font-size: 18px;
}

}


@media only screen and (max-width : 480px) {
    .controls-style .views_slideshow_controls_text span a {
        height: 17px;
        width: 17px;
    }
    .controls-style .views-slideshow-controls-text-previous a {
        background: url(../images/left-mini.png);
    }
    .controls-style .views-slideshow-controls-text-next a {
        background: url(../images/right-mini.png);
    }

    .controls-style .views_slideshow_controls_text span a {
        margin-left: 43px;
        margin-right: 18px;
    }

}

@media only screen and (max-width : 400px) {

.views-field.views-field-field-commander-en-ligne a.asec {
    font-size: 8.5px !important;
    margin-left: 21px;
    padding-right: 9px;
    margin-top: 22px;
}




    div#views_slideshow_controls_text_menupageview-block {
        margin-top: 79px;
        max-width: 200px;
    }
    .controls-style .views_slideshow_controls_text span a {
        height: 17px;
        width: 17px;
    }
    .controls-style .views-slideshow-controls-text-previous a {
        background: url(../images/left-mini.png);
        top: -23px !important;
        left: 0px;
    }
    .controls-style .views-slideshow-controls-text-next a {
        background: url(../images/right-mini.png);
       top: -23px !important;
        left: -64px;
    }
}




.views-field.views-field-field-image-gallerie {
    border:  11px solid #f1f2ee;
}

/*
span#views_slideshow_controls_text_next_guallerieview-block a {
    margin-right: 468px;
}*/




@media only screen and (max-width: 480px){

div#views_slideshow_controls_text_menupageview-block {
        margin-top: 103px;
        max-width: 331px;
    }

    .controls-style .views-slideshow-controls-text-next a {
    top: -1px;
    right: -35px;
}


.controls-style .views-slideshow-controls-text-previous a {
    left: -67px;
    top: -1px;
}


    .view.view-videotheque.view-id-videotheque {
        margin-left: 50px;
    }

}
/* zoom: 29%;
    width: 187px;
    height: 106px;*/


@media only screen and (max-width: 768px){

    div#field-slideshow-1-wrapper {
        width: 407px;
        margin: 0 auto;
    }

    a.carousel-next {
        left: 415px;
        bottom: 43px;
    }

    a.carousel-prev {
    top: 45px;
}

}

@media only screen and (max-width: 560px){

    div#field-slideshow-1-wrapper {
        width: 303px;
        margin: 0 auto;
        height: 190px;
    }

    a.carousel-next {
        left: 552px;
        bottom: 36px;
    }


    a.carousel-prev {
        right: 312px;
        top: 34px;
    }
}



@media only screen and (max-width: 480px){

    div#field-slideshow-1-wrapper {
        width: 227px;
    }


    .field.field-name-field-picturegallerie{

        width: 303px;
        margin: 0 auto;
        height: 190px;
    }


    a.carousel-next {
        left: 234px;
        bottom: 29px;
    }


    a.carousel-prev {
        left: -19px;
        top: 27px;
    }
}

@media only screen and (max-width: 400px){
    .field.field-name-field-picturegallerie {
        width: 303px;
        margin: 0 auto;
    }
}


.field-slideshow-carousel-wrapper {
    margin-left: -3px;
}

.field-slideshow-pager li {
    float: left;
    margin-right: 3px;
    margin-left: 3px;
}
/*****************-------------------------Etat Menu ------------------------*****************/



#block-menu-block-1 .menu.nav{
    position:relative;
}
/*-------------------Videotheque------------------------}*/

#block-menu-block-1 li.menu_vediotheque.active {
    background: none;
}

#block-menu-block-1 li.menu_vediotheque.active:before {
    display: block;
    position: absolute;
    top: -44px;
    left: -79px;
    background: url(../images/bkg_videotheque-active.png) no-repeat top left;
    content: ' ';
    width: 310px;
    height: 254px;
}
/*-------------------Menu------------------------*/
#block-menu-block-1 li.menu_menu.active {
    background: none;
}

#block-menu-block-1 li.menu_menu.active:before {
    display: block;
    position: absolute;
    top: -24px;
    left: -11px;
    background: url(../images/bkg_menu-active.png) no-repeat top left;
    content: ' ';
    width: 193px;
    height: 228px;
}
/*-------------------Apropos------------------------*/
#block-menu-block-1 li.menu_apropos.active {
    background: none;
}

#block-menu-block-1 li.menu_apropos.active:before {
    display: block;
    position: absolute;
    top: -36px;
    left: -26px;
    background: url(../images/bkg_apropos-active.png) no-repeat top left;
    content: ' ';
    width: 266px;
    height: 229px;
}
/*-------------------Gallerie------------------------*/
#block-menu-block-1 li.menu_galerie.active {
    background: none;
}

#block-menu-block-1 li.menu_galerie.active:before {
    display: block;
    position: absolute;
    top: -31px;
    left: 15px;
    background: url(../images/bkg_galerie-active.png) no-repeat top left;
    content: ' ';
    width: 195px;
    height: 233px;
}
/*-------------------Contact------------------------*/
#block-menu-block-1 li.menu_contact.active {
    background: none;
    z-index: 1;
}

#block-menu-block-1 li.menu_contact.active:before {
    display: block;
    position: absolute;
    top: -40px;
    left: -108px;
    background: url(../images/bkg_contact-active.png) no-repeat top left;
    content: ' ';
    width: 267px;
    height: 233px;
}

/*--------------------------------------------------------------------*/
/*-------------------------Responsive Menu --------------------------*/
/********************************************************************/

@media only screen and (max-width : 990px) {

    body{

        background-size: cover;

    }

    .region.region-content{

        min-height: 1480px !important;
    }

    .views-field.views-field-field-commander-en-ligne {
        font-size: 29.77px;}


    #block-menu-block-1 li.menu_vediotheque.active:before {
        background: url(../images/bkg_videotheque-active-resp.png) no-repeat top center;
        top: -60px;
        width: 100%;
        left:0px;
    }
    #block-menu-block-1 li.menu_contact.active:before {
        background: url(../images/bkg_contact-active-resp.png) no-repeat top center;
        top: -18px;
        width: 100%;
        left:0px;
    }

    #block-menu-block-1 li.menu_galerie.active:before {
        background: url(../images/bkg_galerie-active-resp.png) no-repeat top center;
        top: -26px;
        width: 100%;
    }
    #block-menu-block-1 li.menu_apropos.active:before {
        background: url(../images/bkg_apropos-active-resp.png) no-repeat top center;
        top: -35px;
        width: 100%;
    }
    #block-menu-block-1 li.menu_menu.active:before {
        background: url(../images/bkg_menu-active-resp.png) no-repeat top center;
        top: -34px;
        width: 100%;
    }

#block-menu-block-1 li.menu_vediotheque.active {
    left: -3px;
    top: 35px;
}

#block-menu-block-1 li.menu_menu.active {
    left: 17px;
    top: 14px;
}

#block-menu-block-1 li.menu_apropos.active {
    left: 25px;
    top: 8px;
}

#block-menu-block-1 li.menu_galerie.active {
    left: -16px;
    top: 10px;
}
#block-menu-block-1 li.menu_contact.active {
    left: -4px;
}
}




@media only screen and (max-width : 768px) {

    #block-menu-block-1 li.menu_vediotheque.active:before {
        top: -52px;
        width: 100%;
    }
    #block-menu-block-1 li.menu_contact.active:before {
        top: -23px;
        width: 100%;
    }

    #block-menu-block-1 li.menu_galerie.active:before {
        top: -31px;
        width: 100%;
    }
    #block-menu-block-1 li.menu_apropos.active:before {
        top: -43px;
        width: 100%;
    }
    #block-menu-block-1 li.menu_menu.active:before {
        top: -30px;
        width: 100%;
    }

#block-menu-block-1 li.menu_vediotheque.active {
    left: -3px;
    top: 27px;
}

#block-menu-block-1 li.menu_menu.active {
    left: 17px;
    top: 10px;
}

#block-menu-block-1 li.menu_apropos.active {
    left: 25px;
}
#block-menu-block-1 li.menu_galerie.active {
    left: -16px;
    top: 13px;
}
#block-menu-block-1 li.menu_contact.active {
    left: -4px;
}
}